<?php

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ item.wordpress_db }}');

/** MySQL database username */
define('DB_USER', '{{ item.wordpress_user }}');

/** MySQL database password */
define('DB_PASSWORD', '{{ item.wordpress_passwd }}');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         'zpr[IL76f)M?AUp)5qzc+d0o{!5|f-6L<#a>^gH/>?-9!dxpxMUrE{J:GneuZmQ-');
define('SECURE_AUTH_KEY',  '%6 yQx*/n8lozOEVxFumLo D)5|)_ki0ReJ<S;l$F.yW7*5=,`X_sdJ}6Zz}QyDd');
define('LOGGED_IN_KEY',    'VhwpSRFq/G$|dM<6WvqrSVmE<|oWAX7!n=h@,#gB`-tDrE6:hI+epS4hl?bza:=^');
define('NONCE_KEY',        '}+<z`C{[!68p~YM}CPQ+qB<^gXy*y-eKH3H`{k8J8`SPx~&YR,j;e^0Tstg9QoS6');
define('AUTH_SALT',        'U |le&a{n< ,#MIhj4e$56MvbpLFvjZpRDj`o`ByRRZRh@iq8CVy*Bb:8=IHyKn]');
define('SECURE_AUTH_SALT', 'GgnUR#-4@lm4*I)U,0cPxtQ>1+%&a<E2C&R0~4zrtWc;x(a`.~F7!,.p**afQzN+');
define('LOGGED_IN_SALT',   'H|;B zI5-4h2>])dF3hIR@y;iw[Wl35wv$=i>s<be6qzy2#Q$v7aZ{)wDtAn.o:d');
define('NONCE_SALT',       '|<4R CPP= }f_3S|h>)$@$Y$f3P%/D:YN!kzJKHw3BY|*nh(Ma^:y;A@Ukcnd.J}');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
